In [1]:
import pandas as pd
from collections import Counter

In [2]:
df = pd.read_csv("Dataset/postings.csv")

In [3]:
df.head()

,job_title,company,job_location,job_link,first_seen,search_city,search_country,job level,job_type,job_summary,job_skills
0,Data Engineer 2,Cook Medical,"Bloomington, IN",https://www.linkedin.com/jobs/view/data-engine...,2023-12-17,Bloomington,United States,Mid senior,Onsite,"Overview\nThe Data Engineer develops, implemen...","Azure, SQL, NoSQL, SQL Server, Oracle, MongoDB..."
1,Staff Data Engineer,Recruiting from Scratch,"Bloomington, IN",https://www.linkedin.com/jobs/view/staff-data-...,2023-12-17,Bloomington,United States,Mid senior,Onsite,This is for a client of Recruiting from Scratc...,"Python, Snowflake, Airflow, Kubernetes, Docker..."
2,"Senior Data Engineer, Public Company",Recruiting from Scratch,"Bloomington, IN",https://www.linkedin.com/jobs/view/senior-data...,2023-12-17,Bloomington,United States,Mid senior,Onsite,This is for a client of Recruiting from Scratc...,"Python, SQL, Snowflake, Airflow, Kubernetes, D..."
3,"Senior Data Engineer, Public Company",Recruiting from Scratch,"Bloomington, IN",https://www.linkedin.com/jobs/view/senior-data...,2023-12-17,Bloomington,United States,Mid senior,Onsite,This is for a client of Recruiting from Scratc...,"TDD, Automation, Continuous delivery, Data eng..."
4,"Senior Systems Engineer, Azure Data Platform",Cook Medical,"Bloomington, IN",https://www.linkedin.com/jobs/view/senior-syst...,2023-12-17,Bloomington,United States,Mid senior,Hybrid,Overview\nWe are seeking a talented Azure Clou...,NaN

In [4]:
df.tail()

,job_title,company,job_location,job_link,first_seen,search_city,search_country,job level,job_type,job_summary,job_skills
6020,Senior Oracle Data Analyst,Talenterprize,"Brackley, England, United Kingdom",https://uk.linkedin.com/jobs/view/senior-oracl...,2023-12-17,Milton Keynes,United Kingdom,Mid senior,Hybrid,We are looking for a highly competent and moti...,"Data Analysis, Data Mining, Data Visualization..."
6021,Data Governance Analyst,Barclays,"Northampton, England, United Kingdom",https://uk.linkedin.com/jobs/view/data-governa...,2023-12-17,Milton Keynes,United Kingdom,Mid senior,Hybrid,Northampton\nAs a Barclays Data Governance Ana...,"Data Governance, Data Analysis, Data Lineage, ..."
6022,Energy Data and Forecast Analyst,Energy Jobline,"Milton Keynes, England, United Kingdom",https://uk.linkedin.com/jobs/view/energy-data-...,2023-12-17,Milton Keynes,United Kingdom,Mid senior,Hybrid,Trilogic Recruitment is pleased to present an ...,"Energy Industry Analysis, Cost Analysis, Reven..."
6023,Junior Data Scientist,Fairmont Recruitment,"Manchester Area, United Kingdom",https://uk.linkedin.com/jobs/view/junior-data-...,2023-12-17,Wigan,United Kingdom,Associate,Onsite,Join the Data Revolution! Become a Junior Data...,"Python, AI, Machine learning, Scikit, PyTorch,..."
6024,"Lead Data Engineer (Python, SQL, Cloud Engineer)",CenterXchange Inc,"Manchester, England, United Kingdom",https://uk.linkedin.com/jobs/view/lead-data-en...,2023-12-17,Wigan,United Kingdom,Mid senior,Hybrid,We are looking for a Lead Data Engineer suppor...,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6025 entries, 0 to 6024
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_title       6025 non-null   object
 1   company         6025 non-null   object
 2   job_location    6025 non-null   object
 3   job_link        6025 non-null   object
 4   first_seen      6025 non-null   object
 5   search_city     6025 non-null   object
 6   search_country  6025 non-null   object
 7   job level       6025 non-null   object
 8   job_type        6025 non-null   object
 9   job_summary     5665 non-null   object
 10  job_skills      4960 non-null   object
dtypes: object(11)
memory usage: 517.9+ KB

In [6]:
df.shape

(6025, 11)

In [7]:
df.isnull().sum()

job_title            0
company              0
job_location         0
job_link             0
first_seen           0
search_city          0
search_country       0
job level            0
job_type             0
job_summary        360
job_skills        1065
dtype: int64

In [8]:
df['job_summary'].replace('',pd.NA,inplace=True)

In [9]:
df['job_skills'].replace('',pd.NA,inplace=True)

In [10]:
df.isnull().sum()

job_title            0
company              0
job_location         0
job_link             0
first_seen           0
search_city          0
search_country       0
job level            0
job_type             0
job_summary        360
job_skills        1065
dtype: int64

In [11]:
df['job_summary'].fillna('Not Provided',inplace=True)

In [12]:
df['job_skills'].fillna('Not Listed',inplace=True)

In [13]:
df.isnull().sum()

job_title         0
company           0
job_location      0
job_link          0
first_seen        0
search_city       0
search_country    0
job level         0
job_type          0
job_summary       0
job_skills        0
dtype: int64

In [14]:
df['job_type'] = df['job_type'].str.lower().str.strip()
df['job_type'] = df['job_type'].replace({'on-site': 'onsite', 'remote': 'remote', 'hybrid': 'hybrid'})

In [15]:
df.to_csv('cleaned_dataset.csv', index=False)

In [16]:
df['job_skills'] = df['job_skills'].fillna('').astype(str)
df = df[df['job_skills'].str.strip() != '']

In [17]:
all_skills = []

for skills in df['job_skills']:
    split_skills = [skill.strip().lower() for skill in skills.split(',')]
    all_skills.extend(split_skills)

In [18]:
skill_counts = Counter(all_skills)

In [19]:
skill_counts_df = pd.DataFrame(skill_counts.items(), columns=['Skill', 'Count']).sort_values(by='Count', ascending=False)

In [21]:
top_10_skills_df = skill_counts_df.head(10)

In [22]:
top_10_skills_df.to_csv("top_10_skills.csv", index=False)